{% load static %}
<header id="header">
    <div>
        <h2>
            <p>
                <a class="image" href="http://mprdc.nkfust.edu.tw/index.html">
                    <img src={% static 'images/mprdc_logo.png' %} alt=""><br>
                </a>
            </p>
        </h2>
        <h1>
            生產線上雲端量測管理系統<br>
            <p>Production line cloud measurement management system</p>
        </h1>
        <h3>
            {% if request.path == "/project_display/project/" %}
                <a href="/project_display/project/" class="button primary">專案名稱</a>
            {% else %}
                <a href="/project_display/project/" class="button">專案名稱</a>
            {% endif %}
            {% if request.path == "/project_display/work_order/" %}
                <a href="/project_display/work_order/" class="button primary">專案工單</a>
            {% else %}
                <a href="/project_display/work_order/" class="button">專案工單</a>
            {% endif %}
            {% if request.path == "/project_display/tool/" %}
                <a href="/project_display/tool/" class="button primary">量具名稱</a>
            {% else %}
                <a href="/project_display/tool/" class="button">量具名稱</a>
            {% endif %}
            {% if request.path == "/project_display/item/" %}
                <a href="/project_display/item/" class="button primary">量測項目</a>
            {% else %}
                <a href="/project_display/item/" class="button">量測項目</a>
            {% endif %}
        </h3>
    </div>
</header>
<article>
    <div class="btn-group" role="group" aria-label="Basic example">
    </div>
</article>