{% for p in projects %}
    <tr>
        <td>{{ p.project_name }} </td>
        <td>{{ p.project_create_date }} </td>
        <td>{{ p.founder_name }} </td>
        <td>{{ p.remake }}</td>
        <td>
            <button type="button"
                    class="btn  js-delet-project"
                    data-url="{% url 'project_delet' p.id %}">
                <span class="glyphicon glyphicon-trash"></span>刪除
            </button>
            <button type="button"
                    class="btn js-update-project"
                    data-url="{% url 'update_project' p.id %}">
                <span class="glyphicon glyphicon-pencil"></span>
                修改
            </button>
        </td>
    </tr>
{% endfor %}


