{% for t in tool %}
    <tr>
        <td style="vertical-align: revert">{{ t.toolname }} </td>
        <td style="vertical-align: revert">{{ t.tooltype }} </td>
        <td style="vertical-align: revert">{{ t.toolprecision }} </td>
        <td style="vertical-align: revert">{{ t.tooltestdata }}</td>
        <td style="vertical-align: revert">
            <button type="button"
                    class="btn js-delet-tool"
                    data-url="{% url 'tool_delet' t.id %}">
                <span class="glyphicon glyphicon-trash"></span>刪除
            </button>
            <button type="button"
                    class="btn js-update-tool"
                    data-url="{% url 'update_tool' t.id %}">
                <span class="glyphicon glyphicon-pencil"></span>
                修改
            </button>
        </td>
    </tr>
{% endfor %}

{#<script>#}
{#    function go_delet(name){#}
{#        var id = name#}
{#        if (name === "") {#}
{#            window.location = '';#}
{#        }#}
{#        else {#}
{#            var url = "/delet/" + id#}
{#            window.location = url;#}
{#        }#}
{#window.location = "/"#}
{#跳至網址#}
{#    }#}
{#</script>#}
