{% for w in work_order %}
    <tr>
        <td>{{ w.project_measure }} </td>
        <td>{{ w.sor_no }} </td>
        <td>{{ w.part_no }} </td>
        <td>{{ w.number_of_parts }}</td>
        <td>{{ w.materials }}</td>
        <td>{{ w.manufacturing_machine }}</td>
        <td>{{ w.batch_number }}</td>
        <td>{{ w.Class }}</td>
        <td>{{ w.inspector }}</td>
        <td>{{ w.remake }}</td>
        <td>
            <button type="button"
                    class="btn  js-delet-work-order"
                    data-url="{% url 'work_order_delet' w.id %}">
                <span class="glyphicon glyphicon-trash"></span>刪除
            </button>
            <button type="button"
                    class="btn js-update-work-order"
                    data-url="{% url 'update_work_order' w.id %}">
                修改
            </button>
        </td>
    </tr>
{% endfor %}
