{% load static %}
<nav id="menu">
    <header class="major">
        <h2>選單 </h2>
        <h3>Menu</h3>
    </header>
    {% if request.user.is_authenticated %}
    <ul>
        <li><a href={% url 'logout' %}>{{ request.user }}<br>使用者登出</a></li>
{#        <li>#}
{#            <span class="opener">量測專案新增</span>#}
{#            <ul>#}
{#                <li><a href='/form_project'>專案名稱</a></li>#}
{#                <li><a href="/form_work_order">專案工單</a></li>#}
{#                <li><a href="/form_measure_tool">量具名稱</a></li>#}
{#                <li><a href="/form_measure_item">量測參數</a></li>#}
{#            </ul>#}
{#        </li>#}
        <li><a href='/form_project'>量測專案新增</a></li>
        <li><a href="#">量測專案管理</a></li>
        <li><a href="#">量測數據解析</a></li>
        <li><a href="/admin">後台資料管理</a></li>
    </ul>
    {% else  %}
    <ul>
        <li><a href={% url 'login' %}>使用者登入</a></li>
        <li><a href="/admin">後台資料管理</a></li>
    </ul>
    {% endif %}
</nav>